<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-camera"></i> ご遺影の編集</h2>
        </div>
        <div class="card-body">
          <%= form_with(model: [@user, @memorial_photo], local: true) do |f| %>
            <div class="form-group">
              <h4>既存の画像</h4>
              <%= image_tag url_for(@memorial_photo.photo), style: "max-width: 100%;" %>
            </div>
            <div class="form-group mt-3">
              <%= f.label :photo, "新しい画像を選択" %>
              <%= f.file_field :photo, accept: "image/*" %>
              <small class="form-text text-muted">※新しい画像を選択してください</small>
            </div>
            <div class="form-group mt-3">
              <%= f.label :comment, "コメント" %>
              <%= f.text_area :comment, rows: 3, class: "form-control" %>
            </div>
            <div class="actions mt-4">
              <%= button_tag(type: "submit", class: "btn btn-primary w-100 mt-3") do %>
                <i class="fas fa-sync"></i><span> 更新</span>
              <% end %>
            </div>
          <% end %>
          <div class="mt-3">
            <%= button_to user_memorial_photo_path(@user, @memorial_photo), method: "delete", form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger w-100" do %>
              <i class="fas fa-trash"></i><span> 画像を削除</span>
            <% end %>
          </div>
          <%= link_to user_memorial_photos_path(@user), class: "btn btn-secondary w-100 mt-3", data: { turbo: false } do %>
            <i class="fas fa-arrow-left"></i><span> 一覧に戻る</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
