<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>ご遺影の編集</h2>
        </div>
        <div class="card-body">
          <%= form_with(model: [@user, @memorial_photo], local: true) do |form| %>
            <div class="form-group">
              <h4>既存の画像</h4>
              <%= image_tag url_for(@memorial_photo.photo), style: "max-width: 100%;" %>
            </div>
            <div class="form-group mt-3">
              <%= form.label :photo, "新しい画像を選択" %>
              <%= form.file_field :photo, accept: 'image/*' %>
              <small class="form-text text-muted">※新しい画像を選択してください</small>
            </div>
            <div class="form-group mt-3">
              <%= form.label :comment, "コメント" %>
              <%= form.text_area :comment, rows: 3, class: 'form-control' %>
            </div>
            <div class="actions mt-4">
              <%= form.submit "更新", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
          <div class="mt-3">
            <%= button_to '削除', user_memorial_photo_path(@user, @memorial_photo), method: "delete", form: { data: { turbo_confirm: "削除しますか？" } }, class: "btn btn-danger w-100" %>
          </div>
          <%= link_to "前の画面に戻る", user_memorial_photos_path(@user), class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
