<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-file-alt"></i> 保険契約詳細</h2>
        </div>
        <div class="card-body">
          <p><strong>証券番号:</strong> <%= @insurance_policy.policy_number.present? ? @insurance_policy.policy_number : "未登録" %></p>
          <p><strong>保険会社:</strong> <%= @insurance_policy.insurance_company %></p>
          <p><strong>保険の種類:</strong> <%= @insurance_policy.insurance_type %></p>
          <p><strong>保険金額:</strong> <%= number_with_delimiter(@insurance_policy.insurance_amount/10000) %>万円</p>
          <p><strong>保険期間:</strong> <%= @insurance_policy.insurance_period == 100 ? "終身" : "#{@insurance_policy.insurance_period}歳" %></p>
          <p><strong>証券画像:</strong></p>
          <% if @insurance_policy.policy_image.attached? %>
            <%= image_tag @insurance_policy.policy_image, class: "img-fluid" %>
            <p><%= @insurance_policy.policy_image.filename.to_s %></p>
          <% else %>
            <p>画像はありません。</p>
          <% end %>
          <p><strong>備考:</strong> <%= @insurance_policy.note.present? ? @insurance_policy.note : "備考はありません" %></p>
          <div>
            <%= link_to  edit_user_insurance_policy_path(@user, @insurance_policy), class: "btn btn-primary w-100 mt-3", role: 'button' do %>
              <i class="fas fa-edit"></i><span> 編集</span>
            <% end %>
            <%= button_to user_insurance_policy_path(@user, @insurance_policy), method: "delete", form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger w-100 mt-3" do %>
              <i class="fas fa-trash"></i><span> 保険証券を削除</span>
            <% end %>
            <%= link_to user_insurance_graphs_path(current_user), class: "btn btn-secondary w-100 mt-3", data: { turbo: false } do %>
              <i class="fas fa-arrow-left"></i><span> 一覧に戻る</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
