<% if resource.errors.any? %>
  <div id="error_explanation" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div id="error_explanation" class="d-none"></div>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="far fa-user-circle"></i> プロフィール編集</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-group text-start">
              <%= f.label :username, 'ユーザー名', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
                <small class="text-muted">アプリ上のお名前</small>
              </div>
              <%= f.text_field :username, class: 'form-control bg-light' %>
            </div>
            <div class="form-group text-start">
              <%= f.label :full_name, 'お名前', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
                <small class="text-muted">フルネーム推奨</small>
              </div>
              <%= f.text_field :full_name, class: 'form-control bg-light' %>
            </div>
            <div class="form-group text-start">
              <%= f.label :email, 'Eメール', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
                <small class="text-muted">例:user@example.com</small>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-light' %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="alert alert-info">現在、次のEメールアドレスの確認を待っています: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="form-group text-start">
              <%= f.label :phone_number, '電話番号', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
                <small class="text-muted">ハイフン不要</small>
              </div>
              <%= f.telephone_field :phone_number, class: 'form-control bg-light' %>
            </div>
            <div class="form-group text-start">
              <%= f.label :avatar, 'プロフィール画像', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-warning rounded-0">任意</span>
              </div>
              <%= f.file_field :avatar, class: 'form-control bg-light' %>
            </div>
            <div class="form-group text-start">
              <%= f.label :password, '新パスワード', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
                <small class="text-muted">英数字６文字以上</small>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control bg-light', placeholder: "新パスワードをご入力" %>
            </div>
            <div class="form-group text-start">
              <%= f.label :password_confirmation, '新パスワードの確認', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control bg-light', placeholder: "再度新パスワードをご入力" %>
            </div>
            <div class="form-group text-start">
              <%= f.label :current_password, '現在のパスワード', class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-info rounded-0">必須</span>
              </div>
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control bg-light' %>
            </div>
            <div class="actions">
              <%= f.submit "更新", class: "btn btn-primary w-100 mt-3" %>
            </div>
          <% end %>
          <%= link_to 'トップページへ', "/", class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-3">
      <div class="card text-center py-2">
        <div class="card-text">
          アカウントを削除しますか？<br>
          <%= button_to "アカウントを削除する", registration_path(resource_name), method: "delete", form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger mt-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
