<% if @funeral_preference.errors.any? %>
  <div id="error_explanation" role="alert">
    <ul>
      <% @funeral_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div id="error_explanation" class="d-none"></div>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-users"></i> 葬儀プランの編集</h2>
        </div>
        <div class="card-body">
          <%= form_with model: [@user, @funeral_preference], local: true do |form| %>
            <div class="form-group text-start">
              <%= form.label :funeral_type, "葬儀の種類", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= form.select :funeral_type, options_for_select(FuneralPreference::FUNERAL_TYPES, @funeral_preference.funeral_type), { prompt: "-項目をご選択ください-" }, { class: 'form-control bg-light' } %>
            </div>
            <div class="form-group text-start">
              <%= form.label :budget, "ご予算", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= form.select :budget, options_for_select(FuneralPreference::BUDGETS, @funeral_preference.budget), { prompt: "-項目をご選択ください-" }, { class: 'form-control bg-light' } %>
            </div>
            <div class="form-group text-start">
              <%= form.label :invitees, "呼ぶ人", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= form.select :invitees, options_for_select(FuneralPreference::INVITEES, @funeral_preference.invitees), { prompt: "-項目をご選択ください-" }, { class: 'form-control bg-light' } %>
            </div>
            <div class="form-group text-start">
              <%= form.label :location, "場所", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= form.select :location, options_for_select(FuneralPreference::LOCATIONS, @funeral_preference.location), { prompt: "-項目をご選択ください-" }, { class: 'form-control bg-light' } %>
            </div>
            <div class="form-group text-start">
              <%= form.label :sect, "宗派", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-success rounded-0">変更</span>
              </div>
              <%= form.select :sect, options_for_select(FuneralPreference::SECTS, @funeral_preference.sect), { prompt: "-項目をご選択ください-" }, { class: 'form-control bg-light' } %>
            </div>
            <div class="form-group text-start">
              <%= form.label :remarks, "備考", class: 'form-label ml-2 label-bold' %>
              <div class='ml-1 mb-1'>
                <span class="badge badge-warning rounded-0">任意</span>
                <small class="text-muted">その他ご要望はこちら</small>
              </div>
              <%= form.text_area :remarks, rows: 5, class: 'form-control bg-light' %>
            </div>
            <div class="actions mt-4">
              <%= form.submit "更新", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
          <div class="mt-3">
            <%= button_to '削除', user_funeral_preference_path(@user, @funeral_preference), method: "delete", form: { data: { turbo_confirm: "削除しますか？" } }, class: "btn btn-danger w-100" %>
          </div>
          <%= link_to "前の画面に戻る", user_funeral_preference_path(current_user, current_user.funeral_preference), class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
