<% if @funeral_preference.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @funeral_preference.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>葬儀設定</h2>
        </div>
        <div class="card-body">
          <%= form_with model: [@user, @funeral_preference], local: true do |form| %>
            <div class="form-group">
              <%= form.label :funeral_type, "葬儀の種類", class: 'form-label' %>
              <%= form.select :funeral_type, options_for_select(FuneralPreference::FUNERAL_TYPES, @funeral_preference.funeral_type), { prompt: "-項目をご選択ください-" }, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= form.label :budget, "ご予算", class: 'form-label' %>
              <%= form.select :budget, options_for_select(FuneralPreference::BUDGETS, @funeral_preference.budget), { prompt: "-項目をご選択ください-" }, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= form.label :invitees, "呼ぶ人", class: 'form-label' %>
              <%= form.select :invitees, options_for_select(FuneralPreference::INVITEES, @funeral_preference.invitees), { prompt: "-項目をご選択ください-" }, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= form.label :location, "場所", class: 'form-label' %>
              <%= form.select :location, options_for_select(FuneralPreference::LOCATIONS, @funeral_preference.location), { prompt: "-項目をご選択ください-" }, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= form.label :sect, "宗派", class: 'form-label' %>
              <%= form.select :sect, options_for_select(FuneralPreference::SECTS, @funeral_preference.sect), { prompt: "-項目をご選択ください-" }, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= form.label :remarks, "備考", class: 'form-label' %>
              <%= form.text_area :remarks, rows: 5, class: 'form-control' %>
            </div>
            <div class="actions mt-4">
              <%= form.submit "保存", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
          <%= link_to "前の画面に戻る", "/", class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
