<% if @will_video.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @will_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-video"></i> ご遺言動画登録</h2>
        </div>
        <div class="card-body">
          <%= form_with(model: [@user, @will_video], local: true) do |f| %>
            <div class="form-group">
              <%= f.label :video, "遺言動画" %>
              <%= f.file_field :video, name: "will_video[video]", accept: "video/*", id: "videoFile" %>
              <small class="form-text text-muted">※動画は約15分以内、80MB以下に設定してください。</small>
            </div>
            <div class="actions mt-4">
              <%= button_tag(type: "submit", class: "btn btn-primary w-100") do %>
                <i class="fas fa-upload"></i><span> 動画を登録</span>
              <% end %>
            </div>
          <% end %>
          <%= link_to "/", class: "btn btn-secondary w-100 mt-3", role: "button" do %>
            <i class="fas fa-home"></i><span> トップページへ</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
