
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0">
            <% if current_user.avatar.attached? %>
              <%= image_tag rails_blob_path(current_user.avatar), class: 'avatar-image' %>
            <% else %>
              <%= image_tag("https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png", class: "avatar-image") %>
            <% end %>
              <%= current_user.username %> 様のメッセージ
          </h1>
        </div>
        <div class="card-body">
          <%= video_tag url_for(@will_video.video), controls: true, style: "max-width: 100%;" %>
          <div class="mt-4">
            <%= link_to '編集', edit_user_will_video_path(@user, @will_video), class: 'btn btn-primary' %>
            <%= link_to "前の画面に戻る", "/", class: "btn btn-secondary w-100 mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
