<section>
  <div class="title py-5 border-bottom mb-4 ">
    <div class="container">
      <div class="title_name text-center my-5">
        <h1 class="fw-bolder">ようこそエンディングノートへ</h1>
        <p class="lead mb-0">シンプルな操作で葬儀選びを後世に伝える</p>
      </div>
    </div>
  </div>  
  <main class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? (current_user.birthday ? user_insurance_graphs_path(current_user) : new_user_birthday_path(current_user)) : new_user_session_path), class: 'text-decoration-none', data: { turbo: false } do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ご加入中の保険</h2>
              <p class="card-text">今亡くなったらいくら残せるかがわかります。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? user_funeral_hall_map_search_index_path(current_user) : new_user_session_path), class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">葬儀場MAP</h2>
              <p class="card-text">お住まいの近くの葬儀屋さんを探せます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? (current_user.funeral_preference.present? ? user_funeral_preference_path(current_user, current_user.funeral_preference) : new_user_funeral_preference_path(current_user)) : new_user_session_path), class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ご葬儀プラン</h2>
              <p class="card-text">お望みのご葬儀プランをシンプル操作で選べます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? (current_user.will_videos.any? ? user_will_video_path(current_user, current_user.will_videos.last) : new_user_will_video_path(current_user)) : new_user_session_path), class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">家族へのメッセージ</h2>
              <p class="card-text">伝えたい言葉、想いを 動画でご家族に残せます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? (current_user.memorial_photos.any? ? user_memorial_photos_path(current_user) : new_user_memorial_photo_path(current_user)) : new_user_session_path), class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ご遺影</h2>
              <p class="card-text">永遠の思い出、お気に入りの一枚を遺影で残せます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to (user_signed_in? ? (current_user.will_videos.any? ? user_will_video_path(current_user, current_user.will_videos.last) : new_user_will_video_path(current_user)) : new_user_session_path), class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">お問い合わせ</h2>
              <p class="card-text">ご要望はこちらまでご連絡ください。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</section>
