
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-20">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0">
            <% if current_user.avatar.attached? %>
              <%= image_tag rails_blob_path(current_user.avatar), class: 'avatar-image' %>
            <% else %>
              <%= image_tag("https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png", class: "avatar-image") %>
            <% end %>
              <%= current_user.username %> 様
              <%= link_to "(#{current_user.birthday.age})", edit_user_birthday_path(current_user), class: 'text-decoration-none' %>の保険金額
          </h1>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <strong>生年月日:</strong>
            <%= current_user.birthday.date_of_birth %>
          </div>
          <div class="chart-container" data-age="<%= current_user.birthday.age %>">
            <canvas id="myBarChart"></canvas>
          </div>
        <%= link_to "前の画面に戻る", "/", class: "btn btn-secondary w-100 mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
